.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }

  .task__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
  }

  .task__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .task__action {
      margin-left: 1rem;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}